################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Automation2010_xp_release/Automation2010/bin
/Automation2010_xp_release/Automation2010/obj/x86
/Automation2010_xp_release/.vs/Automation2010/v15
